<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Browse Sports
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Browse Sports</ion-title>
    </ion-toolbar>
  </ion-header>

      <ion-list>
          <ion-item-sliding *ngFor="let sport of sports| async">
            <!-- <ion-item (click)="goToSportGear(sport)"> -->
                <ion-item>
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Get here a customized workout gear for beginners</ion-card-subtitle>
            <ion-card-title>{{sport.name}}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
              {{sport.description}}
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
